.Result {
  display: flex;
  align-items: center;
  background-color: var(--white);
  padding-top: 35px;
  padding-left: 25px;
  padding-right: 25px;
}

.containerHeader {
  display: flex;
  justify-content: space-around !important;
}

.Github-Search {
  font-family: Monaco;
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin-right: 10px;
}

.text-style-1 {
  font-family: Raleway;
  font-weight: 100;
  font-style: italic;
}

.containerColUserInfo {
  padding-top: 53px;
}

.user-avatar {
  width: 280px;
  height: 280px;
  border-radius: 2px;
  box-shadow: 0 0 4px NaNpx var(--black-40);
}

.containerColReposInfo {
  padding-top: 53px;
}
