.Home {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  align-items: center;
  background-color: var(--white);
}

.widthSearchBar {
  width: 600px;
}

.containerTitle {
  display: flex;
  justify-content: center;
}
