.Home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

.Github-Search {
  width: 415px;
  height: 81px;
  font-family: Monaco;
  font-size: 60px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.text-style-1 {
  font-family: Raleway;
  font-weight: 200;
  font-style: italic;
}

.Search-Icon {
  width: 30px;
  height: 30.1px;
  object-fit: contain;
  box-shadow: 0 0 4px NaNpx var(--black-40);
  background-color: var(--white);
}
