.containerSearchBar {
  justify-content: center;
  align-items: center;
  display: flex;
}

button {
  width: 100px;
  height: 50px;
  border-radius: 2px;
  background-color: #ac53f2;
}

.search-input {
  width: 650px;
  height: 50px;
  background-color: var(--white);
}

#text {
  width: 650px;
  height: 50px;
  background-color: var(--white);
}
