@import url("https://fonts.googleapis.com/css?family=Raleway:200i&display=swap");

.containerRoutes {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.maxWidth {
  width: 1152px;
  height: 100vh;
}
